<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hero Squads{{/block}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/heroes">All Heros</a></li>
    <li role="presentation"><a href="/heroes/new">Add a Hero</a></li>
    <li role="presentation"><a href="/squads">All Squads</a></li>
    <li role="presentation"><a href="/squads/new">Add a Squad</a></li>
    <li role="presentation"><a href="/powers">All Powers</a></li>
    <li role="presentation"><a href="/powers/new">Add a Power</a></li>
    <li role="presentation"><a href="/weaknesses">All Weaknesses</a></li>
    <li role="presentation"><a href="/weaknesses/new">Add a Weakness</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <h1>Welcome To the World of Heroes!</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <script>
<!--        var errorMessage = "{{errorMessage}}";-->
<!--        if (errorMessage) {-->
<!--            alert(errorMessage);-->
<!--        }-->

    </script>
    </body>
    </html>
{{/block}}