


{{#partial "content"}}
    <div class="container">
        <div class="row">
            <h2>Available Weaknesses</h2>
            <ol class="display-list">
                {{#each weaknesses}}
                    <li>
                        {{name}}  -  {{description}}
                    </li>
                {{/each}}
            </ol>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}